@font-face {
    font-family: Inter;
    font-weight: 800;
    font-style: normal;
    src: local("Inter"), url("../fonts/Inter_ExtraBold.woff2") format('woff2'), url("../fonts/Inter_ExtraBold.woff") format('woff'), url("../fonts/Inter_ExtraBold.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    src: local("Inter"), url("../fonts/Inter_Bold.woff2") format('woff2'), url("../fonts/Inter_Bold.woff") format('woff'), url("../fonts/Inter_Bold.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    src: local("Inter"), url("../fonts/Inter_Regular.woff2") format('woff2'), url("../fonts/Inter_Regular.woff") format('woff'), url("../fonts/Inter_Regular.eot") format('eot');
    font-display: swap;
}